{% extends "base.html" %}

{% block title %}File Encrypter{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href='{{ url_for("static",filename="CSS/file_encrypter.css")}}'>
{% endblock %}

{% block content %}
<center id="heading">
      <h1 align="center">Encrypter Decrypter</h1>
      <h2 align="center">File Encrypter</h2>
      <br>
      <form enctype="multipart/form-data" action="/encrypt_file" method="POST" id="uploadForm">
        <div class="form-group">
                <center>
                    <div class="file-upload-wrapper">
                        <input type="file" id="file" name="file_to_encrypt" class="file-input" required >
                        <label for="file" class="file-label">
                            <span id="file-label-text">Browse File</span>
                        </label>
                    </div>
                </center>
                <input class="pwd" type="password" name="password" id="password" value="{{ pwd }}" placeholder="Enter password..." required>
                <center>
                    <button type="submit" class="encrypt_button" id="submit_b">Encrypt</button>
                </center>
        </div>
    </form>
</center>

<script type="text/javascript" src="{{ url_for('static',filename='JS/file_encrypter.js') }}"></script>

{% endblock %}
